body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Josefin Sans';
}

.App {
  text-align: center;
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#home-background{
  background-color: #FDFDFD;
}
.jumbotron {
 background-color: #FDFDFD; 
}


.tile{
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 16px;
}

.black87{
  color: rgba(0,0,0, 0.87)!important;
}

.black54{
  color: rgba(0,0,0, 0.54)!important;
}

.black38{
  color: rgba(0,0,0, 0.38)!important;
}

.ctaButton{
  background-color: #BB1014 !important;
  color: white !important;
  width: 90px !important;
  height: 30px !important;
  text-align: center !important;
}
