*{
  box-sizing: border-box;
}

body{
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Josefin Sans';
  color: rgba(0,0,0, 0.87);
}

.App {
  text-align: center;
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#Content{
  background-color: #FAFAFA;
  justify-content: space-around;

}
.jumbotron{
  background-color: transparent;
}

.tile{
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 16px;
  padding-bottom: 8px;
  /*margin-bottom: 16px;*/
}
.echoPost{
  margin-bottom: 16px;
}
.commentPost{
  margin-bottom: 8px;
}


.red{
  color: ;


}

.black87{
  color: rgba(0,0,0, 0.87)!important;
}

.black54{
  color: rgba(0,0,0, 0.54)!important;
}

.black38{
  color: rgba(0,0,0, 0.38)!important;
}

.btn{
  width: 90px !important;
  height: 30px !important;
  text-align: center !important;
  /*margin: 8px;*/


}

.ctaButton, .btn-primary {
  background-color: #BB1014 !important;
  color: white !important;
  border: none;
}

.button2{
  border: solid 1px #BB1014;
  color: #BB1014;
  background-color: white;

}

body, #root, #ContentWrap{
  min-height: 100vh;
  min-height: 800px;
}

body, #root, #ContentWrap, #Content{
  max-width: 100vw;
}

#ContentWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Navbar.css*/
#Navbar{

}

#Content{
  flex-grow: 1;
  padding-top: 16px;

  display: flex;
}

.jumbotron{
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#footer{
  align-self: flex-end;
}

