.newPostInLine{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.newPostInLine label{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 1;
}

.newPostInLine label input{
  flex-grow: 1;
}

.newPostInLine input{
  /*align-self: flex-end;*/
  margin-left: 8px;
}