.jumboForm {
  height: 28em;
}


.form-horizontal{

	padding: 15px;
	padding-bottom: 10px;

	
}
.dropdown-menu{

	padding: 15px;
	padding-bottom: 10px;
	width: 300px;
}

.row{
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}
